In [2]:
import os

directory = "/home/user/python-project/File"
files = os.listdir(directory)

print(files)

with open("/home/user/python-project/File/file_name.txt", "r") as f:
    contents = f.read()
    print(contents)

['INSURANCE_CONTRACT_GROUP_plai-iac.csv', 'IAS_SIDELINE_RECORDS.xlsx', 'SP', 'file_name.txt', 'INSURANCE_CONTRACT_GROUP_plai-ias.csv']
HEADER1|HEADER2|HEADER3
A|B|C
B|C|D

In [2]:
dicts = [
   {
      "id":"asdf1234",
      "firstname":"john",
      "lastname":"smith",
      "age":30
   },
   {
      "id":"sdfg2345",
      "firstname":"jane",
      "lastname":"doe",
      "age":25
   },
   {
      "id":"dfgh3456",
      "firstname":"billy",
      "lastname":"ericson",
      "age":35
   }
]    

new_dicts = {d.pop('id'): d for d in dicts}

print(new_dicts)

{'asdf1234': {'firstname': 'john', 'lastname': 'smith', 'age': 30}, 'sdfg2345': {'firstname': 'jane', 'lastname': 'doe', 'age': 25}, 'dfgh3456': {'firstname': 'billy', 'lastname': 'ericson', 'age': 35}}

In [14]:
import pandas as pd

df = pd.read_csv('/home/user/python-project/File/INSURANCE_CONTRACT_GROUP_plai-ias.csv', nrows=10)

print(df)

  ENTITY_ID REPORTING_DT           INSURANCE_CONTRACT_GROUP_ID  \
0     IAS_D   2023-12-31        IAI_PRSHAULIDR_VFA_2020_23_VFA
1     IAS_A   2023-12-31        IAI_IVSHAULIDR_VFA_2020_64_VFA
2     IAS_D   2023-12-31      IAI_PRSHAYRTIDR_PAA_2020_344_PAA
3     IAS_A   2023-12-31  IAI_PRSHANULIDR_GMM_2023_334_GMM_NOV
4     IAS_A   2023-12-31        IAI_IVSHAULIDR_VFA_2021_66_VFA
5     IAS_D   2023-12-31             IAI_PRPSURSHANUL_2023_DEC
6     IAS_A   2023-12-31    IAI_IVSHAULIDR_GMM_2009_83_GMM_SUB
7     IAS_A   2023-12-31     IAI_PRSHAULIDR_GMM_2023_2_GMM_MAR
8     IAS_A   2023-12-31    IAI_PRSHAULIDR_GMM_2023_46_GMM_FEB
9     IAS_D   2023-12-31    IAI_PRSHAULIDR_VFA_2014_12_VFA_SUB

  INSURANCE_CONTRACT_GROUP_CD INSURANCE_CONTRACT_PRTFL_ID WORKGROUP  \
0                     REGULAR                  PRSHAULIDR     IAI_D
1                     REGULAR                  IVSHAULIDR     IAI_A
2                     REGULAR                 PRSHAYRTIDR     IAI_D
3                     REGULAR                 PRSHANULIDR     IAI_A
4                     REGULAR                  IVSHAULIDR     IAI_A
5                     REGULAR                PRPSURSHANUL     IAI_D
6                     REGULAR                  IVSHAULIDR     IAI_A
7                     REGULAR                  PRSHAULIDR     IAI_A
8                     REGULAR                  PRSHAULIDR     IAI_A
9                     REGULAR                  PRSHAULIDR     IAI_D

   PRODUCT_LINE_ID REGLTRY_GROUP_CLASS_CD COUNTRY_CD  NO_CONTRACTS  ...  \
0              NaN              REMAINING         ID           NaN  ...
1              NaN            NOT_ONEROUS         ID           NaN  ...
2              NaN              REMAINING         ID           NaN  ...
3              NaN            NOT_ONEROUS         ID           NaN  ...
4              NaN            NOT_ONEROUS         ID           NaN  ...
5              NaN            NOT_ONEROUS         ID           NaN  ...
6              NaN                ONEROUS         ID           NaN  ...
7              NaN            NOT_ONEROUS         ID           NaN  ...
8              NaN            NOT_ONEROUS         ID           NaN  ...
9              NaN            NOT_ONEROUS         ID           NaN  ...

  TRANSITION_LIC_RA_AMT TRANSITION_SDW_CSM_AMT TRANSITION_LREC_AMT  \
0                   0.0                    0.0                 0.0
1                   0.0                    0.0                 0.0
2                   0.0                    0.0                 0.0
3                   0.0                    0.0                 0.0
4                   0.0                    0.0                 0.0
5                   0.0                    0.0                 0.0
6                   0.0                    0.0                 0.0
7                   0.0                    0.0                 0.0
8                   0.0                    0.0                 0.0
9                   0.0                    0.0                 0.0

   TRANSITION_PCA_AMT  TRANSITION_PAA_AMT  TRANSITION_PAA_PREM_AMT  \
0                 0.0                 0.0                      0.0
1                 0.0                 0.0                      0.0
2                 0.0                 0.0                      0.0
3                 0.0                 0.0                      0.0
4                 0.0                 0.0                      0.0
5                 0.0                 0.0                      0.0
6                 0.0                 0.0                      0.0
7                 0.0                 0.0                      0.0
8                 0.0                 0.0                      0.0
9                 0.0                 0.0                      0.0

   TRANSITION_PAA_ACQ_AMT  TRANSITION_PAA_LC_AMT  \
0                     0.0                    0.0
1                     0.0                    0.0
2                     0.0                    0.0
3                     0.0                    0.0
4                     0.0                    0.0
5                     0.0                    0.0
6                     0.0                    0.0
7                     0.0                    0.0
8                     0.0                    0.0
9                     0.0                    0.0

   TRANSITION_ESTATE_BAL_PH_AMT  CURVE_ID
0                           0.0       NaN
1                           0.0       NaN
2                           0.0       NaN
3                           0.0       NaN
4                           0.0       NaN
5                           0.0       NaN
6                           0.0       NaN
7                           0.0       NaN
8                           0.0       NaN
9                           0.0       NaN

[10 rows x 31 columns]

In [5]:
from google.cloud import storage
import pandas as pd
import io
from tabulate import tabulate

bucket_name = "pruidlife-nprd-dev-c5wvjk-asia-southeast2-datalake"
file_name = "data-manual/Renova/ABST_ID_ABST_IFRS4_SUNGL_EXTRACT_IAC_202401.csv"

def read_file_from_gcs(bucket_name, file_name):
    """Reads a file from a Google Cloud Storage bucket."""
    # bucket_name = "your-bucket-name"
    # file_name = "your-file-name"
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(file_name)
    # Read the file contents
    contents = blob.download_as_bytes() # can either use string or bytes
    blob_file = io.BytesIO(contents)
    data_frame(blob_file)
    #print(blob)
    #Print the file contents
    #print(contents.decode("utf-8"))

def data_frame(contents):
    #df = pd.read_csv(io.BytesIO(contents))
    #df = pd.read_csv(io.BytesIO(contents), nrows=2) to limit rows using nrows
    df = pd.read_csv(contents, delimiter='|')
    df['FIND_SPECIFIC_CHARACTER'] = df['TXN_DESC'].str.contains('"')
    df = df[df['FIND_SPECIFIC_CHARACTER'] == True]
    df['TXN_DESC'] = df['TXN_DESC'].str.replace('"', '')

    print(tabulate(df, headers='keys', tablefmt='psql'))

read_file_from_gcs(bucket_name, file_name)

+----+-------------+------------+------------------+-----------------------------+-----------------+-------------+------------+--------------+--------------+-------------+-----------+--------------------------------------------------+---------+------+------+------+------+------+------+------+------+--------------+----------------+-------------+---------------------------+
|    | ENTITY_ID   |    ACCT_CD |   EXTRACT_PERIOD | TXN_DT                      |   AMT_LOCAL_CCY | CR_DR_FLG   |   JRNAL_NO |   JRNAL_LINE | JRNAL_TYPE   | JRNAL_SRC   | TXN_REF   | TXN_DESC                                         |      T0 |   T1 |   T2 |   T3 |   T4 |   T5 | T6   | T7   |   T8 |   JOB_RUN_ID |   BATCH_RUN_ID | VALID_FLG   | FIND_SPECIFIC_CHARACTER   |
|----+-------------+------------+------------------+-----------------------------+-----------------+-------------+------------+--------------+--------------+-------------+-----------+--------------------------------------------------+---------+------+------+------+------+------+------+------+------+--------------+----------------+-------------+---------------------------|
|  3 | IAC         | 3373000120 |          2024001 | 2024-01-05 00:00:00.0000000 |          247500 | D           |       2816 |          242 | ADJ4         | DWI         | ACCR-0124 | 381723_Dinner Reward Kontes OctoberFest Region J | 0000000 |  nan |  nan |  nan |  nan |  nan | A24  | P01  |  nan |        24134 |           7484 | Y           | True                      |
+----+-------------+------------+------------------+-----------------------------+-----------------+-------------+------------+--------------+--------------+-------------+-----------+--------------------------------------------------+---------+------+------+------+------+------+------+------+------+--------------+----------------+-------------+---------------------------+

In [38]:
# split variable to 2 strings
def test_function(location):
    bucketname,key = location.split('/',2)[-1].split('/',1) if location.startswith('gs') else location
    print(bucketname,key)

test_function("gs://pruidlife-nprd-dev-c5wvjk-asia-southeast2-datalake/data-movement/SrcFiles/CP/CONFIG/LAND_${BATCHDATE}-ETL1-CONFIG-CONFIG-IFRS17_UC_PROD_ICG_MAP")

pruidlife-nprd-dev-c5wvjk-asia-southeast2-datalake+data-movement SrcFiles/CP/CONFIG/LAND_${BATCHDATE}-ETL1-CONFIG-CONFIG-IFRS17_UC_PROD_ICG_MAP

  ENTITY_ID     INSURANCE_CONTRACT_GROUP_ID  CURVE_ID
0     IAC_D  IAI_IVCONULIDR_VFA_2007_57_VFA       NaN
  ENTITY_ID     INSURANCE_CONTRACT_GROUP_ID  CURVE_ID
0     IAS_D  IAI_PRSHAULIDR_VFA_2020_23_VFA       NaN

In [2]:
import pandas as pd

df = pd.read_csv('/home/user/python-project/File/INSURANCE_CONTRACT_GROUP_plai-iac.csv')
#print(df.columns)
df2 = len(df)

print(df2)
df = df[['ENTITY_ID','INSURANCE_CONTRACT_GROUP_ID','CURVE_ID']]
df = df.drop_duplicates(subset='CURVE_ID')

print(df)

df1 = pd.read_csv('/home/user/python-project/File/INSURANCE_CONTRACT_GROUP_plai-ias.csv')
#print(df.columns)
df3 = len(df1)
print(df3)
df1 = df1[['ENTITY_ID','INSURANCE_CONTRACT_GROUP_ID','CURVE_ID']]
df1 = df1.drop_duplicates(subset='CURVE_ID')

#print(df)
#df = df.groupby(['ENTITY_ID','INSURANCE_CONTRACT_GROUP_ID','CURVE_ID']).size().to_frame(name = 'count')

print(df1)
print (df2+df3)

7464
  ENTITY_ID     INSURANCE_CONTRACT_GROUP_ID  CURVE_ID
0     IAC_D  IAI_IVCONULIDR_VFA_2007_57_VFA       NaN
1704
  ENTITY_ID     INSURANCE_CONTRACT_GROUP_ID  CURVE_ID
0     IAS_D  IAI_PRSHAULIDR_VFA_2020_23_VFA       NaN
9168

In [4]:
people = [{"name":"agam","age":20,"city":""},{"name":"adhi","age":21}]
# Add a new property called "city" to each object
for person in people:
  person["city"] = "New York"
print(people)

[{'name': 'agam', 'age': 20, 'city': 'New York'}, {'name': 'adhi', 'age': 21, 'city': 'New York'}]

In [ ]:
import os

directory = "/home/user/python-project/File/SP/"
file = "USP_LOAD_ETL5_NOP_NB_APE_DRIVER_DETAIL.sql"
file1 = "USP_LOAD_ETL5_NOP_NB_APE_DRIVER_DETAIL_utf8.sql"


with open(os.path.join(directory, file), "r",encoding="latin-1") as f:
        contents = f.read()
        print(contents)

with open(os.path.join(directory, file1), "w",encoding="utf-8") as f:
        f.write(contents)

In [1]:
import pymssql

# Connection details
server = 'sdb-sgrass-dev-az1-sql001.database.windows.net'
user = 'ifrs17_idsit_devprod'
password = 'CNNJgW8+NFQ='
database = 'ifrs17_dw_dev_plai'

try:
    # Establish the connection
    conn = pymssql.connect(server, user, password, database)

    # Create a cursor object
    cursor = conn.cursor()

    # Execute a sample query
    cursor.execute("SELECT @@version;")
    row = cursor.fetchone()
    print(row)

except Exception as e:
    print(f"Error: {e}")

finally:
    # Close the connection
    if conn:
        conn.close()

Error: (40615, b"Cannot open server 'sdb-sgrass-dev-az1-sql001' requested by the login. Client with IP address '34.80.195.207' is not allowed to access the server.  To enable access, use the Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range.  It may take up to five minutes for this change to take effect.DB-Lib error message 20018, severity 14:\nGeneral SQL Server error: Check messages from the SQL Server\nDB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (sdb-sgrass-dev-az1-sql001.database.windows.net)\nDB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (sdb-sgrass-dev-az1-sql001.database.windows.net)\n")

NameError: name 'conn' is not defined

In [2]:
import re

def process_sql(sql_code):
  """Processes SQL code, skipping green highlighted comments."""

  # Define a regex pattern to match comments (adjust if needed)
  comment_pattern = r"--.*$"

  # Split the SQL code into lines
  lines = sql_code.splitlines()

  processed_code = ""
  for line in lines:
    # Remove comments from the current line
    stripped_line = re.sub(comment_pattern, "", line)
    processed_code += stripped_line + "\n"

  return processed_code


# Example usage in a loop
sql_statements = [
  """
    -- DQC in PL_PLAI_TOFOND_ETL4_ETL4_LIFEASIA_STEP1_NEW
    -- before running DQC required ABC framework started
    -- G_TABLE = GTRN T_TASBLE = ACMV + RTRN
    EXEC FOND_ID.USP_CUSTOM_DATA_QUALITY_CHECK 'ETL4_TOFOND_BATCH02','PKG_PRC_FOND_PLAI_ETL4_LIFEASIA_PARALLEL_STAG','@IS_PRE_CHECK=Y|@PERIOD=202312';
  """,
  """
  UPDATE table2 SET column1 = 'value1'; -- Another comment
  """,
]

for sql in sql_statements:
  processed_sql = process_sql(sql)
  print(f"Processed SQL:\n{processed_sql}") 
  # Execute or further analyze the processed_sql here

Processed SQL:




    EXEC FOND_ID.USP_CUSTOM_DATA_QUALITY_CHECK 'ETL4_TOFOND_BATCH02','PKG_PRC_FOND_PLAI_ETL4_LIFEASIA_PARALLEL_STAG','@IS_PRE_CHECK=Y|@PERIOD=202312';


Processed SQL:

  UPDATE table2 SET column1 = 'value1';

In [2]:
import pyparsing

test = """
/* Code my code
xx to remove comments in C++
or C or python */

include <iostream> // Some comment

int main (){
    cout << "hello world" << std::endl; // comment
}
"""
commentFilter = pyparsing.cppStyleComment.suppress()
# To filter python style comment, use
# commentFilter = pyparsing.pythonStyleComment.suppress()
# To filter C style comment, use
# commentFilter = pyparsing.cStyleComment.suppress()

newtest = commentFilter.transformString(test)
print(newtest)

include <iostream>

int main (){
    cout << "hello world" << std::endl;
}